/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color0:  #6aba66;
    --color1: #ffffff;
    --color2: #e0e0e0;
    --color3: #000000;
    --color4: #cd3f3f;
   
}

/*------------COMIENZO DE PÁGINA QUIENES SOMOS--------------*/

/*--COMIENZO DE EL NAVEGADOR--*/


#header-total {
background-color: var(--color2);
position: fixed;
width: 100%;
text-align: center;
z-index: 2;
padding-top: 1em;
}



.navbar {
background-color: var(--color2);
width: 100%;
height: 4em;
position: fixed;
}


.navbar a {
color: var(--color3);
}

.navbar a:hover {
color: var(--color4)
}

.navbar .collapse {
justify-content: center;
}

.navbar-nav a {
margin-left: 1em;
margin-right: 1em;
}

.logo {
display: flex;
justify-content: center;
}

.logo img {
width: 3em;
}

.logo h4 {
font-family:Georgia, 'Times New Roman', Times, serif;
width: 7em;
}


/*--FINAL DE EL NAVEGADOR--*/

/*--COMIENZO DE QUIENES SOMOS--*/

#video-inf {
width: 100%;
padding-top: 7.3em;
text-align: center;
padding-bottom: 0.5em;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

#video-inf video {
width: 100%;
}

#video-inf figcaption {  
display: flex;
flex-direction: column;
position: absolute;
width: 50%;
font-size: 2em;
opacity: 60%;

}

#video-inf figcaption a {  
    color: var(--color1);
    text-decoration: none;
    }

#video-inf figcaption .btn-ext {
  color: var(--color1);
  text-decoration: none;
    }



/*--FINAL DE QUIENES SOMOS--*/

/*--COMIENZO DE CONTENIDO--*/

#contenido-general {
display: flex;
}

#todo-junto {
padding-top: 1em;
padding-left: 1em;
padding-right: 1em;
width: 21em;
height: 65em;
text-align: center;
border-right: solid 0.2em;
justify-content: center;
}

.info .video {
width: 20%;
}

#content {
height: 30em;
padding-top: 5em;
} 

#content2 {
height: 30em;
padding-top: 5em;   
} 

.card2 {
padding-top: 0.7em;
width: 18.7em;
height: 11em;

}

.tables {
display: flex;
}

.rows {
display: flex;
flex-direction: column;
}

.cels {
display: flex;
}

#content-derecha {
padding-top: 0.5em;
width: 100%;
height: 52em;
text-align: center;

}

#content-derecha .info-ad {
width: 100%;
height: 15em;
}

#imagenes-card {
flex: 24%;
}

.btn-flex {
background-color: var(--color1);
width: 13em;
color: var(--color3);
border: none;
}


#imagenes-card figure img {
width: 13em;
}

.figure {
margin-left: 2.5em;
margin-right: 2.5em;
}

.card-body {
margin-top: 1em;
}

#primer-bloque {
margin: 2em;
}

#segundo-bloque {
margin: 2em;
}

#tercer-bloque {
margin: 2em;
}

#cuarto-bloque {
margin: 2em;
}


/*--FINAL DE CONTENIDO--*/

/*--COMIENZO DEL FOOTER--*/

    footer {
background-color: var(--color2);
}

/*--FINAL DEL FOOTER--*/

/*------------FINAL DE PÁGINA QUIENES SOMOS--------------*/

/*------------COMIENZO DE SOBRE NOSOTROS--------------*/

/*--COMIENZO DE PRESENTACIÓN--*/


#todoenuno {
display: flex;
background-color: var(--color2);
padding-bottom: 2em;
padding-top: 8em;
height: 100vh;
}

#texto1 {
padding-left: 1em;
padding-right: 1em;
}

#texto1 h1 {
font-size: 2em;
}

#texto2 h1 {
font-size: 2em;
}

#texto2 {
padding-left: 1em;
padding-right: 1em;
}

.carousel {
width: 70%;
padding-left: 1em;
padding-right: 1em;
}

.carousel h5 {
color: var(--color1);
}

.carousel p {
color: var(--color1);
}

.card-style {
margin-left: 1em;
width: 100vh;
height: 34.5em;
}

.card-style2 {
margin-right: 1em;
width: 100vh;
height: 34.5em;
}

form {
   
    width: 100%;
    }
    
form .mb {
width: 20em;
 }

/*--FINAL DE PRESENTACIÓN--*/

/*------------FINAL DE SOBRE NOSOTROS--------------*/

/*------------COMIENZO DE SOPORTE--------------*/

/*--COMIENZO DE FORMULARIO--*/

#formulario {
padding-top: 6em;
background-color: var(--color2);
}

/*--FINAL DE FORMULARIO--*/

/*------------FINAL DE SOPORTE--------------*/